header {
  background-color: #006400;
  padding: 5px 0;
  color: #fff;
}
header,
h3 {
  margin-bottom: 30px;
}
.dropdown {
  margin-bottom: 15px;
}
.dropdown-toggle,
.dropdown-item {
  cursor: pointer;
}
